/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Spartan:wght@300;400;600&display=swap');

/* Colors & Effects */

header {
    background-color: rgb(133, 132, 125);
}

footer {
    color:rgb(240, 250, 250);
    background-color: rgb(51, 51, 51);
}

section {
    color: rgb(51, 51, 51);
}

.bg-color-name-title {
    background-color: rgb(51, 51, 51);
    color: rgb(240, 250, 250);
    height: 240px;
}

.a-home-color {
    background-color: rgb(216, 129, 48)
}

.a-resume-color {
    background-color: rgb(75, 185, 167)
}

.a-contact-color {
    background-color: rgb(109, 70, 109)
}

.a-download-color {
    background-color: rgb(133, 132, 125);
}

.three-reasons-color {
    background-color: rgba(216, 129, 48, 0.66);
}

.hvr-shutter-out-vertical:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* Header */

header {
    margin: 0;
}

.heading {
    padding-top: 120px;
    
}

.logo {
    background: url("../images/profile.jpg") center no-repeat;
    background-size: cover;
    margin: auto;
    min-height: 360px;
    max-width: 420px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    box-shadow: 0px -4px 4px 4px rgba(0, 0, 0, 0.2);
}

.name {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-indent: 20px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    font-weight: 400;
    text-indent: 24px;
}

#nav {
    margin: 0;
}

#nav > li {
    margin: 0;
    font-size: 16px;
    height: 120px;
    padding: 0;
    text-align: center;
}

#nav > li > a {
    width: 100%;
    text-decoration: none;
    color: rgb(240, 250, 250);
    height: 120px;
}

#nav > li > a > i {
    padding-top: 22px;
    display: block;
    font-size: x-large;
}

#nav > li > a > span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

.menucontainer {
    font-size: 0;
}

/* Section */

section h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

/* Footer */

footer {
    min-height: 120px;
    text-align: center;
}

footer h5 {
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 30px;
}

footer p {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}

.footer-small {
    font-size: small;
}

.cv-pdf i {
    font-size: 24px;
    color: rgb(133, 132, 125);
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: rgb(216, 129, 48);
}

.social-links {
    margin-top: -15px;
}

footer li i {
    font-size: 30px;
    padding-left: 8px;
    padding-right: 8px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

footer li i:hover {
    color: rgb(216, 129, 48);
}