/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Spartan:wght@300;400;600&display=swap');

/* Colors */

.bg-color-name-title {
    background-color: rgb(51, 51, 51);
    color: rgb(240, 250, 250);
}

/* Header */

header {
    margin: 0;
}

.heading {
    padding-top: 20px;
}

.logo {
    background: url("../images/profile.jpg") center no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    font-weight: 400;
    text-indent: 4px;
}